body{
    background-color: aqua;
    margin: 5px;
}
div{
    display: flex;
    justify-self:center
}
button{
    border-radius: 10px;
    color: red;
    background-color: black;
    block-size: auto;
    box-shadow: 10px;
    
}
 button:active{
    border-radius: 10px;
    color: rgb(42, 10, 221);
    background-color: black;
    block-size: auto;
    transition: .5s;
    box-shadow: 10px;
 }
 button:hover{
    border-radius: 10px;
    color: rgb(42, 10, 221);
    background-color: rgb(238, 234, 18);
    block-size: auto;
    box-shadow: 10px;
    transition-delay: .3s;   
 }
 .p1{
    color: rgb(238, 216, 19);
    border: solid;
    border-color: green;
    text-align: justify;
    border-width: 10px;
    padding-block-start: 20px;
 }
 #r1{
    color: palevioletred;
 }
 a{
   text-decoration: double;
 }